.cards-page-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title-action-bar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .actions {
      margin-left: 0.5rem;
    }
  }

  .list {
    flex: 1 1 auto;
    overflow: hidden;
  }
}
